In [7]:
import pandas as pd
import numpy as np

In [8]:

# Creating an array
data = np.array([[1,4],[2,5],[3,6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [20]:
# Creating a dataframe

# dataframe  = pd.DataFrame(data)
df = pd.DataFrame(data, index =['row1','row2','row3'],columns = ['col1','col2'])

In [23]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [24]:
# lists used for this example
states = ["Madhya Pradesh","Uttar Pradesh", "Arunachal Pradesh", "Maharastra"]
population = [100324,321512,5132,54232]

In [27]:
# sortings lists within a dictionary
dict_states = {'States': states, 'Population':population}

In [29]:
# Creating the dataframe from dic
df_data = pd.DataFrame(dict_states)

In [30]:
# Showing data
df_data

              States  Population
0     Madhya Pradesh      100324
1      Uttar Pradesh      321512
2  Arunachal Pradesh        5132
3         Maharastra       54232

In [33]:
# reading a csv file
df_exams = pd.read_csv('data/StudentsPerformance.csv')

In [76]:
df_exams.head() # top 5 rows
df_exams.tail() # bottom 5 rows

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [43]:
df_exams_female = df_exams[df_exams['gender'] == "female"]
df_exams_female

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [77]:
df_male_toppers = df_exams[(df_exams["gender"]=="male") & (df_exams["math score"] >= 90)]
df_male_toppers

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
34,male,group E,some college,standard,none,97,87,82
104,male,group C,some college,standard,completed,98,86,90
121,male,group B,associate's degree,standard,completed,91,89,92
149,male,group E,associate's degree,free/reduced,completed,100,100,93
171,male,group E,some high school,standard,none,94,88,78
233,male,group E,some high school,standard,none,92,87,78
286,male,group E,associate's degree,standard,completed,97,82,88
299,male,group D,associate's degree,free/reduced,none,90,87,75
306,male,group E,some college,standard,completed,99,87,81
333,male,group B,associate's degree,standard,none,90,78,81
469,male,group C,some college,standard,none,91,74,76
539,male,group A,associate's degree,standard,completed,97,92,86
562,male,group C,bachelor's degree,standard,completed,96,90,92
571,male,group A,bachelor's degree,standard,none,91,96,92
612,male,group C,bachelor's degree,standard,completed,94,90,91
618,male,group D,master's degree,standard,none,95,81,84
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
659,male,group D,associate's degree,standard,none,90,87,85
689,male,group E,some college,free/reduced,none,93,90,83
710,male,group C,some college,standard,completed,93,84,90
719,male,group E,associate's degree,free/reduced,completed,91,73,80
736,male,group C,associate's degree,standard,none,92,79,84
779,male,group E,associate's degree,standard,completed,94,85,82
784,male,group C,bachelor's degree,standard,completed,91,81,79
808,male,group C,high school,standard,none,90,75,69
815,male,group B,some high school,standard,completed,94,86,87
845,male,group E,master's degree,standard,none,90,85,84
846,male,group C,master's degree,standard,completed,91,85,85
864,male,group C,associate's degree,standard,none,97,93,91
873,male,group E,associate's degree,free/reduced,none,90,90,82
916,male,group E,bachelor's degree,standard,completed,100,100,100
919,male,group B,some college,standard,completed,91,96,91
934,male,group C,associate's degree,standard,completed,98,87,90
950,male,group E,high school,standard,none,94,73,71

In [81]:
# showing n numbers of rows
df_exams.head(10)
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [85]:
# Dimensions(shape) of the data frame
df_exams.shape

(1000, 8)

In [96]:
# display n rows
# pd.set_option('display.max_rows', 1000) # this will change the setting to show the entered no of rows (e.g 1000) in preview
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86