In [7]:
import pandas as pd
import numpy as np

In [8]:

# Creating an array
data = np.array([[1,4],[2,5],[3,6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [ ]:
# Creating a dataframe

# dataframe  = pd.DataFrame(data)
pd.DataFrame(data, index =['row1','row2','row3'],columns = ['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6